body {
    background-image: url(images/Background1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}




h1 {
    text-align: center;
    font-size: 1.5em;
    color: white;
    font-family: 'Bowlby One SC', cursive;
    margin-top: 15vh;

}



ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;


}



li:first-child {
    margin-right: auto;
    width: 30vw;

}





li {
    margin-right: 3%;
    list-style: none;

}


a:hover {
    text-decoration-line: underline;
    color: aqua;
    text-shadow: 5em;
}


.active {
    color: aqua;
}

a {
    color: white;
    text-decoration-line: none;
    font-size: 1.5em;
    font-family: 'Raleway', sans-serif;

}

.bovenlogo {
    right: -100%;
    display: none;
}




.mobiellogo {
    border: 0%;
    margin: auto;
    margin-top: 10vh;
    margin-bottom: 13vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 30vh;
}



.albums {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    margin-top: 10vh;
    margin-bottom: 13vh;



}


.videos {
    display: flex;
    flex-direction: column;
    max-width: 100%;

}


.videos img {
    border-radius: 10px;
    margin-bottom: 1vh;


}


.videos figcaption {
    margin-bottom: 5vh;
    color: white;
    text-align: center;
    font-size: 1.5em;
    font-family: 'Raleway', sans-serif;

}












@media (min-width:60em) {


    h1 {
        text-align: center;
        font-size: 4em;
        color: white;
        font-family: 'Bowlby One SC', cursive;
    }

    .mobiellogo {
        display: none
    }


    .bovenlogo {
        border: 0%;
        margin: auto;
        margin-top: 10vh;
        margin-bottom: 13vh;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        height: 60vh;


    }


    .albums {
        display: flex;
        flex-direction: row;
        justify-content: space-around;


    }

    .videos {
        display: flex;
        flex-flow: wrap;
        margin-left: 4.5vw;
    }



}
