/* Bijna al mijn gebruik van flexbox heb ik te danken aan flexbox froggy.*/


body {
    background-image: url(images/Background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}





ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

}




li:first-child {}



li {
    margin-right: 3%;
    list-style: none;

}


li a:hover {
    text-decoration-line: underline;
    color: aqua;
    text-shadow: 5em;
}


.active {
    color: aqua;
}

li a {
    color: white;
    text-decoration-line: none;
    font-size: 1.5em;
    font-family: 'Raleway', sans-serif;

}

.bovenlogo {
    right: -100%;
    display: none;

}




.mobiellogo {
    border: 0%;
    margin: auto;
    margin-top: 10vh;
    margin-bottom: 13vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 30vh;
}


h1,
h2 {
    text-align: center;
    font-size: 2em;
    color: white;
    font-family: 'Bowlby One SC', cursive;
    margin-top: 15vh;

}



.albums {
    display: flex;
    flex-flow: wrap;
    justify-content: center;

}





.videos {
    display: flex;
    flex-flow: wrap;
    max-width: 100%;
    justify-content: center;


}


.videos img {
    border-radius: 10px;
    margin-bottom: 1vh;
    width: 17em;




}


figcaption {
    margin-bottom: 5vh;
    color: white;
    text-align: center;
    font-size: 1.5em;
    font-family: 'Raleway', sans-serif;

}



.about {
    display: flex;
    align-items: center;
    flex-direction: column;

}

.about img {
    width: 80vw;
}


.about p {
    color: white;
    width: 80vw;
    font-family: 'Raleway', sans-serif;
}


form {
    display: flex;
    flex-flow: wrap;
    margin-bottom: 4em;


}

label {
    display: flex;
    flex-direction: column;
    color: white;
    font-family: 'Raleway', sans-serif;
}


.message {
    width: 20em;
}


button {
    border-radius: 20%;
    background-color: #000120;
    margin-left: 2em;
    margin-top: 3em;
    height: 5em;
    color: lawngreen;
    font-family: 'Raleway', sans-serif;
    border-style: dashed;
    border-color: lawngreen;

}


footer {
    margin-top: 15em;
    margin-bottom: 5em;
    display: flex;
    flex-direction: row;
    justify-content: center;

}




@media (min-width:60em) {

    ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;

    }




    li:first-child {
        margin-right: auto;
        width: 30vw;

    }



    li {
        margin-right: 3%;
        list-style: none;

    }






    h1 {
        text-align: center;
        font-size: 4em;
        color: white;
        font-family: 'Bowlby One SC', cursive;
    }

    .mobiellogo {
        display: none;
        width: 30vw;
    }


    .bovenlogo {
        border: 0%;
        margin: auto;
        margin-top: 10vh;
        margin-bottom: 13vh;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 50em;


    }


    .albums {
        display: flex;
        flex-flow: wrap;
        justify-content: center;


    }

    .videos {
        display: flex;
        flex-flow: wrap;
        max-width: 100%;

    }

    .videos img {
        border-radius: 10px;
        margin-bottom: 1vh;
        width: 31em;

    }


    .about img {
        width: 40vw;
    }


    .about p {
        color: white;
        width: 40vw;
        font-family: 'Raleway', sans-serif;
    }


    form {
        display: flex;
        flex-direction: column;
        width: 30vw;
        margin-left: 35%;

    }

    label {
        color: white;
        font-family: 'Raleway', sans-serif;
    }

}
